.auth_container{
    margin-top: 30px;
    text-align: center;
    .auth{
        .input_parent{
            margin-bottom: 20px;
            input{
                background: #fff;
                background-clip: padding-box;
                border: 1px solid #c2c2c2;
                border-radius: 1px;
                font-size: 14px;
                line-height: 1.42857143;
                padding: 0 9px;
                vertical-align: baseline;
                width: 500px;
                box-sizing: border-box;
                height: 40px;
                color: #282828;
                background-color: #fff;
                border-color: #ddd;
            }
        }
        .login_btn{
            background: #000;
            width: 240px;
            margin: auto;
            padding: 8px 0;
            color: #fff;
            font-weight: 600;
            font-size: 20px;
        }
    }
}