._banner{
    ._container{
        padding-top: 50px;
        .order_card{
            margin-bottom: 10px;
            background: #fff;
            padding-bottom: 20px;
            border: 1px solid #ddd;
            .upper_div{
                border-bottom: 1px solid #ddd;
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                border-radius: 7px;
                .order_complete{
                    background: #fc7070;
                    color: #fff;
                    font-weight: 600;

                }
                .parent_class{
                    display: flex;
                    justify-content: space-between;
                }
                .title{
                    margin-right: 10px;
                }
            }
            .items{
                .title{
                    margin: 10px 0;
                }
                .single_item{
                    display: flex;
                    justify-content: space-between;
                    .name{
                        width: 46%;
                    }
                    .price{
                        width: 18%;                        
                    }
                    .quantity{
                        width: 18%;                        
                    }
                    .quantity1{
                        display: none;
                    }
                    .total{
                        width: 18%;
                    }
                }
            }
        }
    }
}
@media all and(max-width: 767px){
    ._banner ._container .order_card{
        padding: 3px;
        font-size: 14px;
        .upper_div{
            padding: 10px 3px;
            .parent_class{
                .title{
                    display: none;
                }
            }
            .order_complete{
                font-size: 12px;
                padding: 0;
            }
        }
        .items .single_item{
            .qt{
                display: none;
            }
            .quantity1{
                display: block;
                width: 18%;
            }
        } 
    }
}