body{
    background: #fafafa !important;
    background-color: #fafafa !important;
}
.page_header{
    .panel_warpper{
        border-bottom: 1px solid #fff;
        color: #8b8b8b;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        font-size: 13px;
        align-items: center;
        .create_account{
            padding-right: 10px;
            cursor: pointer;
            display: inline-flex;
        }
        .sign_up{
            cursor: pointer;
            display: inline-flex;
        }
        .signout{
            cursor: pointer;
        }
        a{
            color: #8b8b8b;
            
        }
    }
    .header_content{
        padding: 20px;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        background: #fff;
        .logo_parent{
            img{
                width: 130px;
                height: 50px;
            }
        }
        .cart_image_parent{

        }
    }
    .header_wrapper_content{
        .fixed-nav{
            position: fixed;
            width: 100%;
            top: 0;
        }
        .header_wrapper_bottom{
            background-color: #282828;
            color: #fff;
            padding: 10px 40px;
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            a{
                color: #fff;
                &:hover{
                    text-decoration: none;
                }
            }
            .inner_header{
                padding: 0 10px;
            }
        }
    }
}
.dashboard_container{
    background: #fafafa;
    .slider_container{
        margin: 0 auto;
        .slick-slide{
            img {
                width: 100%;
            }    
        }
        .slick-next{
            right: 20px;
        }
        .slick-prev {
            left: 5px;
            z-index: 1;
        }
        .slick-dots{
            bottom: 10px;
        }
    }
    .catagory_cards{
        padding: 40px 0;
        .single_row{
            display: inline-flex;
            justify-content: space-around;
            width: 100%;
            padding: 10px 20px;
            .single_card{
                background: #fff;
                margin: 5px;
                width: 33%;
                box-shadow: inset -1px 1px 20px #ddd;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                .image_parent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 260px;
                        width: 100%;
                        cursor: pointer;
                    }
                }
                .content{
                    padding: 20px;
                    .title{
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                    }
                    .shop_now_button{
                        text-align: center;
                        cursor: pointer;
                        color: #282828;
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                            color: #fc7070;
                        }
                    }
                }
            }
        }
    }
}
.footer{
    .bottom_footer{
        color: #fff;
        border-color: #282828;
        background: #282828;
        padding: 20px;
    }
}
@media all and(max-width: 1300px){
    .dashboard_container .catagory_cards .single_row .single_card .image_parent img{
        height: 200px;
    }
}