body{
    background: #fafafa !important;
    background-color: #fafafa !important;
}
.hover_card{
    color: #282828;
    .card{
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
        padding-bottom: 10px;
        .title{
            font-weight: 600;
            text-align: center;
            padding-bottom: 7px;
        }
        .row{
            ._col{
                font-weight: 400;
                a{
                    font-size: 14px;
                    color: #282828;
                    text-transform: uppercase;
                    &:hover{
                        color: #fc7070;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.mbl_nav{
    display: none;
}
.page_header{
    .panel_warpper{
        border-bottom: 1px solid #fff;
        color: #8b8b8b;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        align-items: center;
        .user_info{
            display: inline-flex;
            .user_name{
                margin-left: 15px;
                margin-right: 10px;
            }
        }
        .create_account{
            padding-right: 10px;
            cursor: pointer;
            display: inline-flex;
        }
        .sign_up{
            cursor: pointer;
            display: inline-flex;
        }
        .signout{
            cursor: pointer;
        }
        .ch_header{
            display: inline-flex;
        }
        .change_password{
            margin-right: 10px;
        }
        a{
            color: #8b8b8b;
            
        }
    }
    .header_content{
        padding: 20px;
        display: inline-flex;
        width: 100%;
        justify-content: space-between;
        background: #fff;
        align-items: flex-end;
        a{
            color: #282828;
        }
        .logo_parent{
            img{
                height: 50px;
            }
        }
        .cart_image_parent{

        }
    }
    .header_wrapper_content{
        .fixed-nav{
            position: fixed;
            width: 100%;
            top: 0;
        }
        .header_wrapper_bottom{
            background-color: #282828;
            color: #fff;
            padding: 10px 40px;
            display: inline-flex;
            width: 100%;
            justify-content: space-between;
            font-size: 14px;
            flex-direction: row-reverse;
            a{
                color: #fff;
                &:hover{
                    text-decoration: none;
                }
            }
            .inner_header{
                padding: 0 10px;
                cursor: pointer;
                &:hover{
                    color: #fc7070;
                    text-decoration: none;
                }
            }
        }
    }
}
.dashboard_container{
    background: #fafafa;
    .slider_container{
        margin: 0 auto;
        .slick-slide{
            img {
                width: 100%;
            }    
        }
        .slick-next{
            right: 20px;
        }
        .slick-prev {
            left: 5px;
            z-index: 1;
        }
        .slick-dots{
            bottom: 10px;
        }
    }
    .catagory_cards{
        padding: 40px 0;
        .single_row{
            display: inline-flex;
            justify-content: space-around;
            width: 100%;
            padding: 10px 20px;
            .single_card{
                background: #fff;
                margin: 5px;
                width: 33%;
                box-shadow: inset -1px 1px 20px #ddd;
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                .image_parent{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height: 260px;
                        width: 100%;
                        cursor: pointer;
                    }
                }
                .content{
                    padding: 20px;
                    .title{
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                        color: #202020;
                        text-transform: uppercase;
                    }
                    .shop_now_button{
                        text-align: center;
                        cursor: pointer;
                        color: #282828;
                        text-decoration: none;
                        &:hover{
                            text-decoration: none;
                            color: #fc7070;
                        }
                    }
                }
            }
        }
    }
}
.footer{
    .bottom_footer{
        color: #fff;
        border-color: #282828;
        background: #282828;
        padding: 20px;
    }
}
@media all and(max-width: 1300px){
    .dashboard_container .catagory_cards .single_row .single_card .image_parent img{
        height: 200px;
    }
}
@media all and(max-width: 767px){
    .dashboard_container .catagory_cards .single_row{
        display: block;
        .single_card{
            width: 100%;
        }
    }
    .header_wrapper_content{
        display: none;
    }
    .page_header{
        padding-top: 50px;
    }
        .mbl_nav{
            display: block;
            position: fixed;
            height: 50px;
            background: #4b4b4b;
            width: 100%;
            z-index: 99;
            display: flex;
            padding: 10px 18px;
            .fas{
                color: #fff;
                margin: auto 0;
                cursor: pointer;
            }
        }
    .sliding_menu{
        background: #f9f9f9;
        height: 100%;
        .uper_div{
            padding: 10px 17px;
            display: flex;
            flex-direction: row-reverse;
        }
        .catagories{
            ._p_parent{
                border-bottom: 1px solid #ddd;
                padding: 10px;
                font-size: 15px;
                &:hover{
                    color: #fc7070;
                }
            }
            .sub_catagory{
                padding: 3px;
                a{
                    color: #4b4b4b;
                    &:hover{
                        color: #fc7070;
                    }
                }
            }
        }
    }
}