.admin_dashbord_banner{
    .orders_banner{
        .order_banner{
            width: 600px;
            background: #fff;
            border-radius: 10px;
            margin: 20px 0;
        }
    }
}