.product_index_container{
    background: #fafafa;
    .products_filter_container_parent{
        margin-top: 25px;
        padding-bottom: 100px;
        .products_filter_container{
            display: inline-flex;
            justify-content: center;
            width: 100%;
            .sub_catagory_filter_parent{
                padding-left: 5px;
                width: 25%;
                .sub_catagory_filter{
                    background: #fff;
                    box-shadow: 0px 0px 1px #8c8686;
                    .single_catagory{
                        cursor: pointer;
                        padding: 10px;
                        border-bottom: 1px solid #e4e4e4;
                        display: inline-flex;
                        width: 100%;
                        align-items: baseline;
                        .content{
                            text-transform: uppercase;
                            color: #282828;
                            font-size: 12px;
                            font-weight: 100;
                            &:hover{
                                color: #fc7070;
                            }
                        }
                    }
                }
            }
            .products_container{
                width: 75%;
                .search_container{
                    position: relative;
                    padding: 0 22px 20px;
                    input{
                        height: 35.23px;
                        padding: 2px 17px 2px 35px;
                        border-radius: 6px;
                        font-size: 16px;
                        line-height: 22px;
                        width: 100%;
                        border: none;
                        box-shadow: 0 0px 20px #ddd;
                    }
                    .seacr_icon{
                        left: 31px;
                        position: absolute;
                        top: 9px;
                        color: #bbb;
                    }
                }
                .products_row{
                    margin: 0;
                    padding: 0 10px;
                    justify-content: space-between;
                    .product_container{
                        background: #fff;
                        margin-bottom: 10px;
                        a{
                            color: #000;
                            &:hover{
                                text-decoration: none;
                            }
                        }
                        &:hover{
                            box-shadow: 0px 1px 2px #ddd;
                        }
                        .image_parent{
                            height: 300px;
                            img{
                                height: 300px;
                                width: 100%;
                            }
                        }
                        .content{
                            color: #282828;
                            font-size: 12px;
                            text-transform: uppercase;
                            line-height: 20px;
                            .items_name{
                                padding: 0 10px 0;
                                text-align: center;
                            }
                            .price{
                                padding: 0 10px 0;
                                display: inline-flex;
                                justify-content: center;
                                width: 100%;
                                .current_price{
                                    margin-right: 10px;
                                }
                                .prev_price{
                                    margin-left: 10px;
                                }
                            }
                            .learn_more{
                                text-align: center;
                                cursor: pointer;
                                padding: 10px;
                                font-weight: 600;
                                margin-top: 5px;
                                &:hover{
                                    box-shadow: 0 0 5px #ddd;
                                }
                            }
                        }
                    }
                }
              
            }
        }
    }
}